<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Postgre" connectionString="Host=localhost; Database=test_db; User ID=postgres; Password=Master1234; Pooling=true; MaxPoolSize=100; MaxAutoPrepare=50; AutoPrepareMinUsages=20"/>
	</connectionStrings>
	<appSettings>
		<add key="Provider" value="file"/>
		<add key="FilePath" value="numbers.txt"/>
	</appSettings>
</configuration>